<div class=" flex flex-col md:row-span-1 md:col-span-2 bg-purple500 p-6 static w-full h-full">
    <img class="pattern hidden sm:block absolute top-0 right-16  w-20 h-auto" [src]="cards[0].imgPattern" alt="">
    <section class="flex flex-col gap-4">
        <div class="flex gap-4">
            <img class="imgPerson rounded-full border-purple300" [src]="cards[0].imgSrc" alt="">
            <span class=" text-purple50">
                <p class="name">{{cards[0].name}}</p>
                <p class="type">{{cards[0].type}}</p>
            </span>
        </div>

        <span class="flex flex-col gap-4">
            <p class="title text-purple50">{{cards[0].title}}</p>
            <p class="descript text-purple300">{{cards[0].description}}</p>
        </span>
    </section>
</div>

<div class=" flex flex-col bg-purple500 p-6 static w-full h-full">
    <section class="flex flex-col gap-4">
        <div class="flex gap-4">
            <img class="imgPerson rounded-full border-purple300" [src]="cards[1].imgSrc" alt="">
            <span class=" text-purple50">
                <p class="name">{{cards[1].name}}</p>
                <p class="type">{{cards[1].type}}</p>
            </span>
        </div>

        <span class="flex flex-col gap-4">
            <p class="title text-purple50">{{cards[1].title}}</p>
            <p class="descript text-purple300">{{cards[1].description}}</p>
        </span>
    </section>
</div>

<div class=" flex flex-col md:row-span-1 md:col-span-2 bg-purple500 p-6 static w-full h-full">
    <section class="flex flex-col gap-4">
        <div class="flex gap-4">
            <img class="imgPerson rounded-full border-purple300" [src]="cards[2].imgSrc" alt="">
            <span class=" text-purple50">
                <p class="name">{{cards[2].name}}</p>
                <p class="type">{{cards[2].type}}</p>
            </span>
        </div>

        <span class="flex flex-col gap-4">
            <p class="title text-purple50">{{cards[2].title}}</p>
            <p class="descript text-purple300">{{cards[2].description}}</p>
        </span>
    </section>
</div>

<div class=" flex flex-col bg-purple500 p-6 static w-full h-full">
    <section class="flex flex-col gap-4">
        <div class="flex gap-4">
            <img class="imgPerson rounded-full border-purple300" [src]="cards[3].imgSrc" alt="">
            <span class=" text-purple50">
                <p class="name">{{cards[3].name}}</p>
                <p class="type">{{cards[3].type}}</p>
            </span>
        </div>

        <span class="flex flex-col gap-4">
            <p class="title text-purple50">{{cards[3].title}}</p>
            <p class="descript text-purple300">{{cards[3].description}}</p>
        </span>
    </section>
</div>

<div class=" flex flex-col md:col-span-1 md:row-span-4 bg-purple500 p-6 static w-full h-full">
    <section class="flex flex-col gap-4">
        <div class="flex gap-4">
            <img class="imgPerson rounded-full border-purple300" [src]="cards[4].imgSrc" alt="">
            <span class=" text-purple50">
                <p class="name">{{cards[4].name}}</p>
                <p class="type">{{cards[4].type}}</p>
            </span>
        </div>

        <span class="flex flex-col gap-4">
            <p class="title text-purple50">{{cards[4].title}}</p>
            <p class="descript text-purple300">{{cards[4].description}}</p>
        </span>
    </section>
</div>

