/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-size: normal;
    src: url("../public/assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf");
}

@font-face {
    font-family: "Barlow Semi Condensed";
    font-weight: 600;
    font-size: normal;
    src: url("../public/assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf");
}

